*, html {
    margin:0px;
    padding:0px;
}

body
{
    background-color: rgba(13, 17, 22, 0.7);
    width:100%;
    height:100%;
}

#header
{
    background-color: rgba(13, 17, 22, 0.7);
    height: 20%;
}

#content
{
    background-color: rgba(75, 141, 202, 1);
    height: 80%;
}

h1
{
    color: white;
	font-family: 'Roboto', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 72px;
    text-align: center;   
    line-height: 150px;
}

p, a
 {
    color: white;
	font-family: 'Roboto Slab', serif;
	text-align: center;
    font-size: 24px;
}