*, html {
    margin:0px;
    padding:0px;
}

body
{
    background-color: rgba(13, 17, 22, 0.7);
    width:100%;
    height:100%;
}

#header
{
    background-color: rgba(13, 17, 22, 0.7);
    height: 150px;
}

#content
{
    background-color: rgba(75, 141, 202, 0.8);
    height: 512px;
}

h1
{
    color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 72px;
    text-align: center;   
    line-height:150px;
}

#content-welcome-title
 {
    padding:30px 0px 30px 0px;   
    color: white;
	font-family: 'Roboto Slab', serif;
	text-align: center;
    font-size: 24px;
}

#content-welcome-text
{
    margin:auto;
    color: white;
	font-family: 'Roboto Slab', serif;
	text-align: justify;
	font-size: 16px;
	width: 500px;
}

li 
{
    display:inline;
    padding:0px 15px 0px 15px;
}

#link
{
    text-align: center;
    padding:50px 0px 10px 0px;   
}

.button
{
    text-decoration:none; text-align:center; 
    padding:11px 36px; 
    -webkit-border-radius:12px;
    -moz-border-radius:12px; 
    font-family: 'Roboto', sans-serif;
    color:#e5ffff; 
    background-color:#de6856; 
 }
 
 .button:hover
 {
     background:#bd5848; 
 }
 
 #footer 
 {
     height: 50px;
     background-color: rgba(13, 17, 22, 0.7);
     text-align: center;
 }
 
 #footer-text
 {
    line-height: 50px;
    color: white;
	font-family: 'Roboto', sans-serif;
 }